In [2]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even
#, but returns the greater if one or both numbers are odd

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
    else:
        if a > b:
            return a
    return b

In [3]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [283]:
def lesser_v2(a,b):
    if a%2== 0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [286]:
lesser_of_two_evens(8,4)

4

In [285]:
lesser_of_two_evens(10,5)

10

In [8]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [9]:
def animal_crackers(A,B):
    if A[0] == B[0]:
        return True
    else:
        return False

In [10]:
animal_crackers('Lick','Lama')

True

In [11]:
animal_crackers('Taxi', 'Panda')

False

In [12]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. 
#If not, return False

In [28]:
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [29]:
makes_twenty(20,10)

True

In [30]:
makes_twenty(2,3)

False

# level one questions

In [32]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [88]:
def old_macdonald(name):
    spell = list(name)
    
    spell[0] = spell[0].upper()
    spell[3] = spell[3].upper()
    
    return ''.join(spell)

In [89]:
old_macdonald('macdonald')

'MacDonald'

In [90]:
old_macdonald('andrew')

'AndRew'

In [63]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

In [85]:
def master_yoda(sentence):
    
    seperated = sentence.split(' ')
    backwards = seperated[::-1]
    
    return ' '.join(backwards)

In [86]:
master_yoda('I am home')

'home am I'

In [87]:
master_yoda('I am now done for the night')

'night the for done now am I'

In [91]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [92]:
def within_ten(n):
    if abs(100 - n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [93]:
within_ten(104)

True

In [94]:
within_ten(196)

True

In [95]:
within_ten(50)

False

# level two problems

In [97]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [125]:
def has_33(nums):
    print(nums)
    numlist = []
    for num in nums:
        numlist.append(num)
    print(numlist)
    for num1, num2 in zip(numlist, numlist[:-1]):
        if num1 == num2:
            return True
        else:
            return False

In [126]:
has_33([1, 3, 3])

[1, 3, 3]
[1, 3, 3]

True

In [266]:
def has_33(nums):
    print(nums)
    
    for num1, num2 in zip(nums, nums[1:]):
        print(num1, num2)
        
        if num1 == num2:
            return True
    return False

In [ ]:
#version 3 solution

In [ ]:
for i in range(len(nums)-1):
    if nums[i] == nums[i+1]:
        return True
return False

In [267]:
has_33([1, 3, 3])

[1, 3, 3]
1 3
3 3

True

In [268]:
has_33([1, 3, 1, 3])

[1, 3, 1, 3]
1 3
3 1
1 3

False

In [ ]:
#example of how zip works there

In [162]:
jlist = [1,2,3,4,5,6] 

j1 , j2, j3 in zip(jlist, jlist[1:], jlist[2:])
print(list(zip(jlist,jlist[1:], jlist[2:])))

[(1, 2, 3), (2, 3, 4), (3, 4, 5), (4, 5, 6)]

In [163]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [255]:
def paper_doll(text):
    letters = [letter for letter in text]
    print(letters)
    multletters = []
    for a in letters:
         multletters.append(a*3)
    print(multletters)
    goal = ''.join(multletters)
    return(goal)

In [256]:
paper_doll('Hello')

['H', 'e', 'l', 'l', 'o']
['HHH', 'eee', 'lll', 'lll', 'ooo']

'HHHeeellllllooo'

In [257]:
# without the prints

In [258]:
def paper_doll(text):
    letters = [letter for letter in text]
    multletters = []
    for a in letters:
         multletters.append(a*3)
    goal = ''.join(multletters)
    return(goal)

In [259]:
paper_doll('Hello')

'HHHeeellllllooo'

In [260]:
def paper_doll(text):
    return ''.join([letter*3 for letter in text])

In [261]:
paper_doll('Hello')

'HHHeeellllllooo'

In [264]:
def paper_doll(text):
    multletters = []
    for a in text:
         multletters.append(a*3)
    return ''.join(multletters)

In [265]:
paper_doll('Hello')

'HHHeeellllllooo'

In [269]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [276]:
def blackjack(a,b,c):
    if 1 <= a <=11 and  1 <= b <=11 and 1 <= c <=11:
        if (a+b+c) <= 21:
            return (a+b+c)
        elif (a+b+c) > 21 and a == 11 or b == 11 or c == 11:
            reset = (a+b+c) - 10
            if reset > 21:
                return 'BUST'
            else:
                return reset
        else:
            if a+b+c > 21:
                return 'BUST'

In [277]:
blackjack(5,6,7)

18

In [278]:
blackjack(9,9,9)

'BUST'

In [279]:
blackjack(9,9,11)

19

In [280]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
#and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [ ]:
def summer_69(arr):
    mynums = []
    for num in arr:
        while != 6:
            mynums.append()
        if nums == 6:
            break
            return sum(arr[0:])