In [1]:
#anonymous function: functiont that you just use once and then never again

In [3]:
def square(num):
    return num**2

In [6]:
my_nums = [1,2,3,4,5]

In [8]:
map(square, my_nums)

In [9]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [12]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [13]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [14]:
names = ['Andy','Eve','Sally']

In [15]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [1]:
## starting lesson over after two month break here

In [14]:
##map function

In [3]:
def square(num):
    return num**2

In [4]:
my_nums = [1,2,3,4,5]

In [5]:
map(square,my_nums)

In [7]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [10]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [11]:
names = ['Andy', 'Eve', 'Sally']

In [13]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [15]:
#Filter Function

In [16]:
#filter fucntion returns an iterator, returning those items that are iterable for which when you pass in the item to the 
#function it is true, (need to filter by a function that returns true or false)

In [17]:
def check_even(num):
    return num%2 == 0

In [18]:
mynums =[1,2,3,4,5,6]

In [19]:
filter(check_even,mynums)

In [21]:
list(filter(check_even,mynums))

[2, 4, 6]

In [22]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [23]:
#lambda expressions

In [24]:
#gONNA convert a function step by step into a lambda expression

In [25]:
def square(num):
    result = num ** 2
    return result

In [26]:
square(3)

9

In [27]:
def square(num):
    return num ** 2

In [28]:
square(3)

9

In [29]:
def square(num): return num ** 2

In [30]:
square(3)

9

In [32]:
#lambda expression is also known as an anonymous function (aka you only plan on using it once)

In [33]:
lambda num: num ** 2

In [34]:
#This above is a lambda function
#we can assign this function to a name if we choose such as below

In [35]:
square = lambda num: num ** 2

In [36]:
square(3)

9

In [37]:
#now put it all together

In [38]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [39]:
lambda num: num%2 == 0

In [41]:
list(filter(lambda num: num%2 ==0, mynums))

[2, 4, 6]

In [42]:
names

['Andy', 'Eve', 'Sally']

In [43]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [44]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [45]:
lambda x,y : x + y