In [1]:
mystring ='hello'

In [2]:
mylist =[]

for letter in mystring:
    mylist.append(letter);

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist =[letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
secondstring = 'JimmyBuckTimboLives'

In [8]:
secondlist = [letter for letter in secondstring]

In [9]:
secondlist

['J',
 'i',
 'm',
 'm',
 'y',
 'B',
 'u',
 'c',
 'k',
 'T',
 'i',
 'm',
 'b',
 'o',
 'L',
 'i',
 'v',
 'e',
 's']

In [10]:
print(secondlist)

['J', 'i', 'm', 'm', 'y', 'B', 'u', 'c', 'k', 'T', 'i', 'm', 'b', 'o', 'L', 'i', 'v', 'e', 's']

In [11]:
mylist = [x for x in 'word']

In [12]:
mylist

['w', 'o', 'r', 'd']

In [14]:
mylist = [x for x in range(0,11)]

In [15]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
squarelist = [num**2 for num in range(0,11)]

In [17]:
squarelist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
rootlist = [num**0.5 for num in range(0,11)]

In [19]:
rootlist

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [20]:
evenlist = [x for x in range(0,11) if x%2==0]

In [21]:
evenlist

[0, 2, 4, 6, 8, 10]

In [23]:
evensquaredlist = [x**2 for x in range(0,11) if x%2==0]

In [25]:
evensquaredlist

[0, 4, 16, 36, 64, 100]

In [26]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
zip(celcius,fahrenheit)

In [30]:
list(zip(celcius,fahrenheit))

[(0, 32.0), (10, 50.0), (20, 68.0), (34.5, 94.1)]

In [33]:
for (C,F) in zip(celcius,fahrenheit):
    print('the celcius temp {} converted to fahrenheit equals {}' .format(C, F))

the celcius temp 0 converted to fahrenheit equals 32.0
the celcius temp 10 converted to fahrenheit equals 50.0
the celcius temp 20 converted to fahrenheit equals 68.0
the celcius temp 34.5 converted to fahrenheit equals 94.1

In [34]:
results = [ x if x%2==0 else 'ODD' for x in range(0,11)]

In [35]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [36]:
## nested loop in list comprehension

In [40]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y);

In [41]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [42]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y);

In [43]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [44]:
##now for the list comprehension version

In [45]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [46]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]