In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in my_list:
    print(num);

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in my_list[3:7]:
    print(num);

4
5
6
7

In [7]:
for num in my_list:
    print("hello");

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [8]:
for num in my_list:
    #check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [9]:
for num in my_list:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [10]:
for num in my_list:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [12]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print(list_sum);

55

In [41]:
list_sum = 0

for num in my_list:
    list_sum += num;

print(list_sum);

55

In [14]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print(list_sum);

1
3
6
10
15
21
28
36
45
55

In [40]:
list_sum = 0

for num in my_list:
    list_sum += num
    print(list_sum);

1
3
6
10
15
21
28
36
45
55

In [15]:
my_string = "Hello World"

for letter in my_string:
    print(letter);

H
e
l
l
o

W
o
r
l
d

In [17]:
for pizza in 'Hello World':
    print(pizza);

H
e
l
l
o

W
o
r
l
d

In [18]:
for pizza in 'Hello World':
    print(" i love sausage");

 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage

In [19]:
for _ in 'Hello World':
    print(" i love sausage");

 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage
 i love sausage

In [ ]:
#iterate through tupples

In [34]:
tup = (1,2,3)

for item in tup:
    print(item);

1
2
3

In [21]:
second_list = [(1,2), (3,4), (5,6), (7,8)]

In [22]:
len(second_list)

4

In [24]:
for item in second_list:
    print(item);

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [25]:
#tupple unpacking
for (a,b) in second_list:
    print(a)
    print(b);

1
2
3
4
5
6
7
8

In [26]:
for (a,b) in second_list:
    print(a);

1
3
5
7

In [28]:
# don't need the parenthesis around the structure
for a,b in second_list:
    print(b);

2
4
6
8

In [29]:
third_list = [(1,2,3), (5,6,7), (8,9,10)]

In [30]:
for item in third_list:
    print(item);

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [31]:
for a,b,c in third_list:
    print(a)
    print(b)
    print(c);

1
2
3
5
6
7
8
9
10

In [32]:
for a,b,c in third_list:
    print(b);

2
6
9

In [33]:
#how to iterate through a dictionanry

In [35]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item);

k1
k2
k3

In [36]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item);

('k1', 1)
('k2', 2)
('k3', 3)

In [37]:
d = {'k1':1, 'k2':2, 'k3':3}

for key, value in d.items():
    print(value);

1
2
3

In [38]:
d = {'k1':1, 'k2':2, 'k3':3}

for value in d.values():
    print(value);

1
2
3

In [39]:
17 % 5

2

In [43]:
#to obtain a true list of keys, values, or key/value tuples you can cast the view as a list
list(d.keys())

['k1', 'k2', 'k3']

In [48]:
#dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a 
#sorted list using sorted():

sorted(d.values())

[1, 2, 3]

In [45]:
sorted(d.keys())

['k1', 'k2', 'k3']

In [47]:
sorted(d.items())

[('k1', 1), ('k2', 2), ('k3', 3)]

# iterating_var in sequence

In [50]:
for letter in 'Python':
    print('Current Letter :', letter);

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [52]:
fruits = ['banana', 'apple',  'mango']

for fruit in fruits:
    print('Current fruit :', fruit);

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [53]:
print("Good bye!");

Good bye!

# Iterating by Sequence Index

In [56]:
fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print('Current fruit :', fruits)

print("Good bye!")

Current fruit : ['banana', 'apple', 'mango']
Current fruit : ['banana', 'apple', 'mango']
Current fruit : ['banana', 'apple', 'mango']
Good bye!

In [57]:
fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print('Current fruit :', fruits[index])

print("Good bye!")

Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!

# Using else Statement with For Loop

If the else statement is used with a for loop, the else statement is executed when the loop has exhausted iterating the list.

The following example illustrates the combination of an else statement with a for statement that searches for prime numbers from 10 through 20.

In [71]:
for num in range(10,20):     #to iterate between 10 to 20
   for i in range(2,num):    #to iterate on the factors of the number
      if num%i == 0:         #to determine the first factor
         j=num/i             #to calculate the second factor
         print('%d equals %d * %d' % (num,i,j))
         break #to move to the next number, the #first FOR
   else:                  # else part of the loop
      print(num, 'is a prime number')

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [72]:
for num in range(10,20):     #to iterate between 10 to 20
   for i in range(2,num):    #to iterate on the factors of the number
      if num%i == 0:         #to determine the first factor
         j=num/i             #to calculate the second factor
         print('%d equals %d * %d' % (num,i,j))
   else:                  # else part of the loop
      print(num, 'is a prime number')

10 equals 2 * 5
10 equals 5 * 2
10 is a prime number
11 is a prime number
12 equals 2 * 6
12 equals 3 * 4
12 equals 4 * 3
12 equals 6 * 2
12 is a prime number
13 is a prime number
14 equals 2 * 7
14 equals 7 * 2
14 is a prime number
15 equals 3 * 5
15 equals 5 * 3
15 is a prime number
16 equals 2 * 8
16 equals 4 * 4
16 equals 8 * 2
16 is a prime number
17 is a prime number
18 equals 2 * 9
18 equals 3 * 6
18 equals 6 * 3
18 equals 9 * 2
18 is a prime number
19 is a prime number