In [2]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even
#, but returns the greater if one or both numbers are odd

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
    else:
        if a > b:
            return a
    return b

In [3]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [283]:
def lesser_v2(a,b):
    if a%2== 0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [286]:
lesser_of_two_evens(8,4)

4

In [285]:
lesser_of_two_evens(10,5)

10

In [287]:
lesser_v2(8,4)

4

In [288]:
lesser_v2(10,5)

10

In [8]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [9]:
def animal_crackers(A,B):
    if A[0] == B[0]:
        return True
    else:
        return False

In [10]:
animal_crackers('Lick','Lama')

True

In [11]:
animal_crackers('Taxi', 'Panda')

False

In [12]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. 
#If not, return False

In [28]:
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [29]:
makes_twenty(20,10)

True

In [30]:
makes_twenty(2,3)

False

# level one questions

In [32]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [88]:
def old_macdonald(name):
    spell = list(name)
    
    spell[0] = spell[0].upper()
    spell[3] = spell[3].upper()
    
    return ''.join(spell)

In [89]:
old_macdonald('macdonald')

'MacDonald'

In [90]:
old_macdonald('andrew')

'AndRew'

In [289]:
#another solution

In [291]:
def their_way(name):
    firstletter = name[0]
    inbetween = name[1:3]
    fourthletter = name[3]
    rest = name[4:]
    
    return firstlett.upper() + inbetween + fourthletter.upper() +rest

In [292]:
def other_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() +second_half.capitalize()

In [63]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

In [85]:
def master_yoda(sentence):
    
    seperated = sentence.split(' ')
    backwards = seperated[::-1]
    
    return ' '.join(backwards)

In [86]:
master_yoda('I am home')

'home am I'

In [87]:
master_yoda('I am now done for the night')

'night the for done now am I'

In [91]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [92]:
def within_ten(n):
    if abs(100 - n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [93]:
within_ten(104)

True

In [94]:
within_ten(196)

True

In [95]:
within_ten(50)

False

# level two problems

In [97]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [125]:
def has_33(nums):
    print(nums)
    numlist = []
    for num in nums:
        numlist.append(num)
    print(numlist)
    for num1, num2 in zip(numlist, numlist[:-1]):
        if num1 == num2:
            return True
        else:
            return False

In [126]:
has_33([1, 3, 3])

[1, 3, 3]
[1, 3, 3]

True

In [266]:
def has_33(nums):
    print(nums)
    
    for num1, num2 in zip(nums, nums[1:]):
        print(num1, num2)
        
        if num1 == num2:
            return True
    return False

In [ ]:
#version 3 solution

In [ ]:
for i in range(len(nums)-1):
    if nums[i] == nums[i+1]:
        return True
return False

In [267]:
has_33([1, 3, 3])

[1, 3, 3]
1 3
3 3

True

In [268]:
has_33([1, 3, 1, 3])

[1, 3, 1, 3]
1 3
3 1
1 3

False

In [293]:
#their method

In [294]:
def their_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]== 3 and nums[i+1] == 3:
            return True
    return Flase

In [ ]:
#or

In [297]:
def their_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return Flase

In [ ]:
#example of how zip works there

In [162]:
jlist = [1,2,3,4,5,6] 

j1 , j2, j3 in zip(jlist, jlist[1:], jlist[2:])
print(list(zip(jlist,jlist[1:], jlist[2:])))

[(1, 2, 3), (2, 3, 4), (3, 4, 5), (4, 5, 6)]

In [163]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [255]:
def paper_doll(text):
    letters = [letter for letter in text]
    print(letters)
    multletters = []
    for a in letters:
         multletters.append(a*3)
    print(multletters)
    goal = ''.join(multletters)
    return(goal)

In [256]:
paper_doll('Hello')

['H', 'e', 'l', 'l', 'o']
['HHH', 'eee', 'lll', 'lll', 'ooo']

'HHHeeellllllooo'

In [257]:
# without the prints

In [258]:
def paper_doll(text):
    letters = [letter for letter in text]
    multletters = []
    for a in letters:
         multletters.append(a*3)
    goal = ''.join(multletters)
    return(goal)

In [259]:
paper_doll('Hello')

'HHHeeellllllooo'

In [260]:
def paper_doll(text):
    return ''.join([letter*3 for letter in text])

In [319]:
%%timeit
paper_doll('Hello')

850 ns ± 15.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [264]:
def paper_doll(text):
    multletters = []
    for a in text:
         multletters.append(a*3)
    return ''.join(multletters)

In [265]:
paper_doll('Hello')

'HHHeeellllllooo'

In [298]:
def their_doll(text):
    result =''
    
    for char in text:
        result += char*3
    return result

In [269]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [276]:
def blackjack(a,b,c):
    if 1 <= a <=11 and  1 <= b <=11 and 1 <= c <=11:
        if (a+b+c) <= 21:
            return (a+b+c)
        elif (a+b+c) > 21 and a == 11 or b == 11 or c == 11:
            reset = (a+b+c) - 10
            if reset > 21:
                return 'BUST'
            else:
                return reset
        else:
            if a+b+c > 21:
                return 'BUST'

In [320]:
def their_black(a,b,c):
    if sum([a,b,c])<= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum[a,b,c]<=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [277]:
blackjack(5,6,7)

18

In [278]:
blackjack(9,9,9)

'BUST'

In [279]:
blackjack(9,9,11)

19

In [ ]:
def their_black()

In [280]:
#SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
#and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [ ]:
#my attempt and fail unfinished
def summer_69(arr):
    mynums = []
    for num in arr:
        while != 6:
            mynums.append()
        if nums == 6:
            break
            return sum(arr[0:])

In [324]:
def their_summer(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else: 
                add = True
                break
    return total

In [325]:
their_summer([1,3,5])

9

In [326]:
their_summer([4,5,6,7,8,9])

9

In [327]:
their_summer([2,1,6,7,9,11])

14

# challenging problems

In [328]:
#spy game: write a function that takes a list of interegers and returns True if it contains 007 in order

In [331]:
def spy_game(nums):
    for i in range(0,len(nums)-2):
        if nums[i] == 0 and nums[i+1]==0 and nums[i+2]==7:
            return True
    return False

In [332]:
spy_game([1,2,4,0,0,7,5])

True

In [333]:
spy_game([1,0,2,4,0,5,7])

False

In [334]:
spy_game([1,7,2,0,4,5,0])

False

In [408]:
def spy_game2(nums):
    for i in range(0,len(nums)-2):
        if nums[i:i+3] == [0,0,7]:
            return True
        print(nums[i:i+3])
    return False

In [413]:
spy_game2([1,2,0,0,7,5,4])

[1, 2, 0]
[2, 0, 0]

True

In [411]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [358]:
def count_primes(thenum):
    
    nums =[]
    pnums =[]
    count = 0
    
    #populate number list up to plugged in number
    while count < thenum:
        count += 1
        nums.append(count)
    print(nums)
    
    #filter out numbers that are not prime
    for num in nums:
        if  num == 1:
            pnums.append(num)
            
        elif num > 1:
            for i in range(2, int(num/2)+1):
                if (num%i)==0:
                    break
                else:
                    pnums.append(num)
    print(pnums)
    
    #return amount of prime numbers in list
    return len(pnums)

   #could filter this out for only unique values but I have an idea below (failed)        return to this

In [359]:
count_primes(100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 5, 7, 7, 9, 11, 11, 11, 11, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 21, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 25, 25, 25, 27, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 33, 35, 35, 35, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 45, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 49, 49, 49, 49, 49, 51, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 55, 55, 55, 57, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 63, 65, 65, 65, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 69, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 75, 77, 77, 77, 77, 77, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 81, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 85, 85, 85, 87, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 91, 91, 91, 91, 91, 93, 95, 95, 95, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 97, 99]

543

In [365]:
def count_primes2(thenum):
    
    pnums = []
    
    for i in range(1, int(thenum/2)+1):
                if (thenum%i)==0:
                    break
                else:
                    pnums.append(i)
    print(pnums)

In [366]:
count_primes2(100)

[]

In [389]:
def count_primes(thenum):
    
    nums =[]
    pnums =[]
    count = 0
    
    
    #populate number list up to plugged in number
    while count < thenum:
        count += 1
        nums.append(count)
    print(nums)
    
    #filter out numbers that are not prime
    for num in nums:
        if  num == 1:
            pnums.append(num)
            
        elif num > 1:
            for i in range(2, num):
                if (num%i)==0:
                    break
                else:
                    pnums.append(num)
  
    print(set(pnums))
   
    
    #return amount of prime numbers in list
    return len(set(pnums))

In [390]:
count_primes(100)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

50

In [422]:
def justin_count_prime(thenum):
    primes = []
    
    if thenum <3:
        return list(range(thenum+1))
    else:
        starterprimes = list(range(3))
    
    for num in range(3,thenum +1,2):
        prm = True
        for prime in primes:
            if num%prime == 0:
                prm = False
                break 
        if prm:
            primes.append(num)

In [421]:
justin_count_prime(0)

[0]